<div class="users">
    <div class="users__container">
      <div class="pageheader">
        <h1 class="pageheader__title text--capital">
          dashboard
        </h1>
      </div>
      <div class="pagebody users__body">
        <ng-container *ngIf="dashboard">
            <div class="p-grid">
                <div class="p-col-3">
                    <div class="card">
                        <div class="card__body">
                            <div class="dashboard_agents">
                                <span class="dashboard_agents_text dashboard_agents_title">
                                  Today Bids
                                </span>
                                <span class="dashboard_agents_text dashboard_agents_subtitle">
                                    {{ bid_sales | currency: "₦" }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-3">
                    <div class="card">
                        <div class="card__body">
                            <div class="dashboard_agents">
                                <span class="dashboard_agents_text dashboard_agents_title">
                                  Today Games
                                </span>
                                <span class="dashboard_agents_text dashboard_agents_subtitle">
                                    {{ game_sales | currency: "₦" }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
      </div>
    </div>
  </div>
